 @model string

<h3 class="text-danger">Service Temporarily Down</h3>
<p class="text-danger"> Our back end service is temporarily down. Please visit again later. </p>

<p class="text-danger"> you can contact support administrator and quoting this ID (@Model)</p>
